<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedbacks</title>

    <!-- Montserrat Font - Google CDN -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- Estilização da página -->

    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}" />

</head>

<body>

    <main class="main">

        <div class="main__section main__section--form">

            <form class="form" action="/post/comentarios" method="POST">
    
                <label class="form__label" for="input_user">Usuário</label>
                <input class="form__input" type="text" name="input_user" placeholder="Exemplo: Vitor Henrique Fonseca" maxlength="150" required>
    
                <label class="form__label" for="input_message">Mensagem</label>
                <textarea class="form__textarea" name="input_message" placeholder="Eu gostei demais disso !" required></textarea>
                
                <div class="form__buttons">
                    <button class="form__button form__button--submit" type="submit">Comentar</button>
                    <button class="form__button form__button--reset" type="reset">Limpar</button>
                </div>
    
            </form>

        </div>

        <div class="main__section main__section--comments">

            <section class="comments-container">

                <h1 class="comments__title">Comentários</h1>

                <div class="comments">

                    {% for comentario in comentarios %}
    
                    <article class="comment">
    
                        <header class="comment__header">
                            <span class="comment__user">{{ comentario.nome }}</span>
                        </header>
    
                        <main class="comment__content">
                            <p class="comment__message">{{ comentario.comentario }}</p>
                            <a href="/delete/mensagem/{{ comentario.cod_comentario }}">
                                <button class="comment__deletar">
                                    <figure>
                                        <img src="../static/icon_delete.png" alt="deletar">
                                    </figure>
                                </button>
                            </a>
                        </main>
                        
                        <div class="comment__buttons">
                            <button class="comment__like">
                                <figure>
                                    <a href="/put/curtida/mensagem/">
                                        <img src="../static/icon_like.png" alt="like">
                                    </a>
                                </figure>
                            </button>
                            <button class="comment__deslike">
                                <figure>
                                    <img src="../static/icon_deslike.png" alt="deslike">
                                </figure>
                            </button>
                        </div>

                        <footer class="comment__footer">
                            {{ comentario.data_hora }}
                        </footer>
                        
                    </article>
    
                    {% endfor %}
    
                </div>

            </section>            

        </div>

    </main>

</body>

</html>